.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App > p {
  font-style: italic;
  margin-bottom: 20px;
  font-size: 0.8rem;
  font-weight: thin;
}

.searchContainer {
  width: 280px;
  display: flex;
  flex-direction: column;
}

.searchInner {
  display: flex;
}

.dropdown {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.dropdown:empty {
  border: none;
}

.dropdownRow {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
}

input {
  width: 220px;
  border-radius: 5px;
  border: 0;
  background: rgb(241, 240, 240);
}

.searchInner > button {
  border: 0;
  border-radius: 5px;
  padding: 6px 8px;
  margin-left: 3px;
  background: rgb(42, 42, 119);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.searchInner > button:hover{
  background: white;
  color: rgb(42, 42, 119);
  border: 1px solid rgb(42, 42, 119);
}

@media only screen and (max-width: 600px){
  input {
    width: 90%
  }

  .searchInner {
    flex-direction: column;
    align-items: center;
  }

  .searchInner > button {
    width: 80%;
    margin-top: 10px;
  }
}
